fastapi
uvicorn
sse-starlette
langchain
langchain-groq
langchain-community
langchain-openai
langgraph
langgraph-checkpoint-postgres
aiosqlite
aiosqlite
psycopg[binary]
psycopg_pool
pydantic
requests
python-dotenv
duckduckgo-search
sentence-transformers
faiss-cpu
PyPDF2